{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Character count
      </h1>{{releaseVersion | log }}
      <p>A character count component that:</p>
      <ul class="list list-bullet">
        <li>helps user provide content in a limited number of characters</li>
        <li>tells the user how many characters they have remaining, and counts down as they type</li>
        <li>provides additional feedback for assistive technology so that all users are are aware of the character limit</li>
        <li>works with words or characters</li>
      </ul>

      <div class="form-group">
        <a class="button button-start" href="components/char-count" role="button">View demo</a>
      </div>

      <h3 class="heading-medium">Variations</h3>
      <ul class="list list-bullet">
        <li><a href="components/word-count">Word count</a></li>
        <li><a href="components/char-count-threshold">Character count with threshold</a></li>
        <li><a href="components/char-count-highlight">Character count with highlight</a></li>
        <li><a href="components/char-count-highlight-validation">Character count with validation border</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
